html,body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    text-align: center;
    overflow: hidden;
    color: #2e2e2e;
}

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 300%;
}

input[type=text] {
    width: 200px;
    text-align: center;
	line-height:170%;
	font-size:1em; 
	color:#333; 
	background: #fff; 
	border:solid 1px #d9d9d9;
}

/* input[type=text]:focus {

} */

input[type=button] {
    font-size: 110%;
    color: #2e2e2e;
    background: #F3F3F3;
    border: 1px #DADADA solid;
    padding: 5px 10px;
    border-radius: 2px;
}

input[type=button]:hover {
    border: 1px #C6C6C6 solid;
    box-shadow: 1px 1px 1px #EAEAEA;
    color: #333333;
    background: #F7F7F7;
}

input[type=button]:active {
    box-shadow: inset 1px 1px 1px #DFDFDF;
}

/* input[type=button]:focus {

} */

input[type=reset] {
    font-size: 110%;
    color: #2e2e2e;
    background: #F3F3F3;
    border: 1px #DADADA solid;
    padding: 5px 10px;
    border-radius: 2px;
}

input[type=reset]:hover {
    border: 1px #C6C6C6 solid;
    box-shadow: 1px 1px 1px #EAEAEA;
    color: #333333;
    background: #F7F7F7;
}

input[type=reset]:active {
    box-shadow: inset 1px 1px 1px #DFDFDF;
}

/* input[type=reset]:focus {
    
} */

::-webkit-input-placeholder {
    text-align: center;
}
 
:-moz-placeholder { /* Firefox 18- */
    text-align: center;  
}
 
::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
}
 
:-ms-input-placeholder {  
    text-align: center; 
}

.sections {
    height: 100%;
    position: relative;
}

#intro_div {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

 #bring-it-on_btn {
    animation: shake 1.5s;
    animation-iteration-count: infinite;
    transition: 0.4s;
}

#bring-it-on_btn:hover {
    font-size: 250%;
    transition: 0.4s;
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#game-area_div {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#verb-rus_p {
    font-size: 200%;
}

span {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
}

@keyframes caret {
    50% {
        border-color: transparent;
    }
}

#give-up_btn {
    cursor: not-allowed;
}

#game-over_div {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

#game-over_p {
    font-size: 300%;
    margin: 0;
}

#score_p {
    font-size: 250%;
    margin: 0;
}

#name_input {
    padding-top: 2px;
    border-width: 1px;
}

#score-table_div {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.19);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

#score_table {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    display: block;
    overflow-y: auto;
    max-height: 244px;
}

td, th {
    padding-right: 10px;
}